nav ul{
    margin-right: 9rem;
}

nav img{
    margin-left: 9rem;
}

body{
    margin: 0;
}

@media (max-width: 1399px){
    .tarjeta-2{
        height: 10.7rem;
    }
}

@media (max-width: 1199px){
    .tarjeta-2{
        height: 9rem;
    }
}

@media (max-width: 991px){
    .tarjeta-2{
        height: 20.5rem;
    }

    #carta-1, #carta-2{
        margin-bottom: 3rem;
    }

    #texto-2{
        margin-bottom: 1rem;
    }
    
    nav img{
        margin-left: 0.5rem !important;
    }
}


@media (max-width: 767px){
    #carta-3{
        margin-bottom: 3rem;
    }
}

@media (max-width: 575px){
    #foto-1, #foto-2, #foto-3{
        height: 50vh !important;
    }
}